@import url(general.css);

.small-text {
    font-size: 0.75em;
}

body {
    margin: 0;
    background-color: var(--page-light);
    color: var(--text);
    font-family: var(--font-a);
}

input {
    background: none;
    border: none;
    color: var(--text);
    font-family: var(--font-a);
}

input::placeholder {
    color: var(--placeholder);
}

input:focus {
    outline: none;
}

select {
    color: var(--text);
    font-family: var(--font-a);
}

option {
    background-color: #00000055;
}

option:hover {
    background-color: #00000099;
}

hr {
    width: 80%;
    background-color: var(--page-medium);
}
