@import url(general.css);

body {
    margin: 0;
    background-color: var(--page-light);
    color: var(--text);
    font-family: var(--font-a);
}

input {
    background: none;
    border: none;
}

input::placeholder {
    color: var(--placeholder);
}

input:focus {
    outline: none;
}

hr {
    width: 80%;
    background-color: var(--page-medium);
}
