@import url(global.css);
@import url(defaults.css);

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");



/* POP-UPS */

.pop-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 3000;
    background-color: var(--page-medium);
    border: 5px solid var(--page-darker);

    border-radius: 5vh;
    overflow: hidden;
}

.pop-up-title {
    display: flex;
    justify-content: space-between;

    font-size: 2em;
    padding: 3vh;

    background-color: var(--page-dark);
}

.pop-up-body {
    padding: 0 2vw 2vh 2vw;

    background-color: var(--page-medium);
}

.pop-up-options {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0.6vh;

    background-color: var(--page-dark);
}

.pop-up-footer {
    font-size: 0.6em;
    padding: 0 2vw 2vh 2vw;

    color: #E3E3E3;
    background-color: var(--page-dark);
}

.pop-up-button {
    color: white;

    border-radius: 5vh;
    border: 5px solid var(--page-darker);
}

.button-confirm {
    background-color: var(--confirm);
}

.button-confirm:hover {
    background-color: var(--confirm-hover);
}

.button-deny {
    background-color: var(--deny);
}

.button-close {
    width: 6vh;
    height: 6vh;
    background-color: var(--deny);
}

.button-deny:hover,
.button-close:hover {
    background-color: var(--deny-hover);
}

#preload-pop-up {
    display: none;
    width: 30vw;
    height: 45vh;
}

#preload-yes,
#preload-no {
    font-size: 2em;
    padding: 0.33em;
    width: 8vw;
}

#credits-pop-up {
    display: none;
    width: 50vw;
}

#image-pop-up {
    display: none;
    width: 40vw;
}

#image-pop-up .pop-up-body {
    display: flex;
    flex-direction: column;
}

#image-preview {
    max-height: 55vh;
}

#image-input {
    background-color: var(--page-darker);
    border-radius: 3vh;
    padding: 0.5em 0 0.5em 2.5em;
    box-sizing: border-box;
    width: 100%;
}

.image-input {
    position: relative;
    width: 100%;
}

.image-link-icon {
    position: absolute;
    top: 0.125rem;
    left: 0.5rem;
}

#image-apply {
    padding: 0.5em;
    margin-top: 1vh;
}





/* LOADING SCREEN */

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;

    z-index: 2000;
    opacity: 1;
    transition: 0.3s;
}

#progress-bar {
    position: absolute;
    height: 0.5%;
    width: 0;
    top: 90%;
    left: 5%;
    border: 2px solid #DDDDEE;
    border-radius: 0.5vh;

    background-color: white;
}

#progress-box {
    position: absolute;
    height: 0.5%;
    width: 90%;
    top: 90%;
    left: 5%;
    border: 2px solid var(--page-dark);
    border-radius: 0.5vh;

    background-color: var(--page-dark);
}

#progress-text {
    position: absolute;
    top: 92%;
    left: 5%;
}

#progress-percent {
    position: absolute;
    top: 92%;
    right: 5%;
}



/* COVER */

#cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000099;

    z-index: 999;
    opacity: 0;
    transition: 0.3s;
}



/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 5%;
    position: fixed;

    background-color: var(--page-dark);
    transition: background-color 0.3s;
}

.side-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 3vw;
    height: 3vw;
    font-size: 3vw;
    color: var(--text);
    background: none;

    border: none;
}

.theme-toggle {
    position: relative;
}

.theme-toggle:focus {
    outline: none;
}

.theme-toggle > svg {
    transition: transform 0.3s;
}

.theme-toggle:hover > svg {
    transform: scale(1.2);
}

.theme-toggle:active > svg {
    transform: scale(0.9);
}

.theme-toggle::before {
    position: absolute;
    content: 'Light';
    font-size: 1vw;
    top: 3vw;
    transform: none;
}

.theme-toggle--toggled::before {
    content: 'Dark';
}

#credits-button {
    position: relative;
}

#credits-button > i {
    transform: scale(0.8);
    transition: transform 0.3s;
}

#credits-button:hover > i {
    transform: scale(0.9);
}

#credits-button:active > i {
    transform: scale(0.7);
}

#credits-button::before {
    position: absolute;
    content: 'Credits';
    font-size: 1vw;
    top: 3vw;
    transform: none;
}



/* MAIN */

.main {
    margin-left: 5%;
    height: 100%;
    width: calc(100% - 5%);
    text-align: center;
    overflow: hidden;
}

.basic-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-info > div {
    width: 22vw;
}

.basic-info input {
    font-size: 1em;
}

.dex-number {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2em;
}

#types {
    user-select: none;
}

.type {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 3px solid var(--text);
    border-radius: 10vh;
    width: 8vw;
    padding: 0.33em;
    margin: 1.25vh;
    color: white;

    text-align: center;
    user-select: none;
}

.type:focus {
    outline: none;
}

.name-field {
    font-size: 2em;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    height: 38.5vh;
    width: 60%;
    justify-self: end;

    margin-right: 5vw;
    border-radius: 5vh;

    cursor: pointer;
}

.image:hover {
    background-color: var(--page-medium);
}

.image img {
    height: 38.5vh;
    width: 18.75vw;
    object-fit: cover;
}

.ability-block {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    text-align: left;
}

.ability {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    border: 2px solid var(--text);
    border-radius: 10vh;
    width: 15vw;
    padding: 0.33em;
    margin: 2.5vh;
    background-color: var(--page-medium);
    color: white;

    text-align: center;
}

.ability:focus {
    outline: none;
}

.margin-top {
    margin-top: 3.2vh;
}

.stat-section {
    width: 65vw;
    margin-left: 10vw;
    margin-right: 10vw;

    display: grid;
    grid-template-columns: 2fr 1fr 8fr 2fr 2fr;
    font-size: 1.5em;
}

.cell {
    display: flex;
    height: 6.4vh;
    justify-content: center;
    flex-direction: column;
}

.stat-labels {
    text-align: right;
}

.stat-fields input {
    text-align: center;
    font-size: 1em;
    width: 100%;
}

.bar {
    border-radius: 5vh;
    height: 2.5vh;
    border: 2px solid hsl(0, 33%, 50%);
    background-color: hsl(0, 100%, 66%);
    width: 0;
    transition: 0.3s ease-in-out;
}

#total-label {
    text-align: right;
}

/* POKEMENU */

.pokemenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;

    color: white;

    z-index: 1000;
    transition: 0.5s ease-in-out;
}

.handle {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 10%;
    right: 0;
    width: 8vw;
    height: 15vh;
    background-color: var(--page-dark);
    user-select: none;
    cursor: pointer;

    border: 5px solid var(--page-darker);
    border-right: none;
    border-top-left-radius: 3.5vh;
    border-bottom-left-radius: 3.5vh;
}

.handle img {
    object-fit: cover;
    width: 5vw;
    filter: saturate(0) contrast(0) brightness(1.2);
    transition: 0.2s ease-in-out;
}

.handle:hover > img {
    filter: none;
}

.pokemenu-main {
    position: absolute;
    top: 0;
    right: -45vw;
    height: 100%;
    width: calc(45vw - 6vw);
    padding: 0 3vw;
    overflow-y: scroll;

    background-color: var(--page-dark);

    border-left: 0.6vh solid var(--page-darker);
}

.filter-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3vh;
}

.filter-bar > div {
    margin-left: 0.625vw;
}

.filter {
    margin: 1.2vh 0;
    user-select: none;
}

.filter-ui {
    background-color: var(--page-darker);
    color: white;
    cursor: pointer;
    user-select: none;
}

#search-filter {
    width: 60%;
    border-radius: 2.5vh;
    padding: 0.5vh 1vh;
}

#generation-filter,
#ability-filter {
    border-radius: 2.5vh;
    padding: 0.5vh;
}

#type-primary-filter {
    border-top-left-radius: 2.5vh;
    border-bottom-left-radius: 2.5vh;
    padding: 0.5vh;
}

#type-secondary-filter {
    border-top-right-radius: 2.5vh;
    border-bottom-right-radius: 2.5vh;
    padding: 0.5vh;
}

.buttons-wrapper > button {
    border-radius: 2.5vh;
    border: none;
    padding: 1vh;

    transition: background-color 0.2s;
}

.buttons-wrapper > button:focus {
    outline: 1px solid var(--text);
}

.on {
    background-color: var(--confirm);
}

.negate {
    background-color: var(--deny);
}

.pokemon-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.4vw;
}

.pokemon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 18vh;
    width: 6vw;
    border-radius: 2.5vh;
    cursor: pointer;
}

.pokemon-card:hover {
    background-color: var(--page-medium);
}

.card-name {
    margin-bottom: 1vh;
    font-size: 0.8em;
}

.card-image {
    max-width: 5vw;
}
